<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aj.supermath">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Register"
            android:label="Register"
            android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"></meta-data>
        </activity>

        <activity android:name=".RegisterRedirect" />

        <activity android:name=".StudentHome" />

        <activity android:name=".ViewScores"
            android:label="Scores"
            android:parentActivityName=".StudentHome">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentHome"></meta-data>
        </activity>

        <activity android:name=".TopicList"
            android:parentActivityName=".StudentHome">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".StudentHome"></meta-data>
        </activity>

        <activity android:name=".LessonsList"
            android:parentActivityName=".TopicList">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".TopicList"></meta-data>
        </activity>

        <activity android:name=".LessonProper"
            android:parentActivityName=".LessonsList">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".LessonsList"></meta-data>
        </activity>

        <activity android:name=".DiagnosticActivity"
            android:label="Diagnostic Test" />
        <activity android:name=".UnitTestActivity"
            android:label="Unit Test" />
        <activity android:name=".ShowScore"></activity>
    </application>

</manifest>
